// resets

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

// variables

$clr-grey-background: rgb(26, 26, 26);
$clr-box-shadow: rgba(0, 0, 0, 0.3);
$clr-box-shadow-sides: rgba(0, 0, 0, 0.1);
$clr-accent: hsl(15, 50%, 62%);

$pad-global: 4em;

// mixins

@mixin bg-image() {
  background: rgb(200, 151, 100);
  background: linear-gradient(0deg, rgb(200, 123, 100) 0%, rgb(255, 218, 183) 28%, rgba(255, 254, 233, 1) 43%, rgb(137, 208, 236) 71%, rgb(128, 194, 214) 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// start css

html {
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  background-color: $clr-grey-background;

  .background-image {
    position: fixed;
    @include bg-image();
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -100;
  }
}

.content-grid-container {
  display: grid;
  padding: $pad-global 6em;
  height: calc(100vh - calc($pad-global * 2));
  grid-template-columns: repeat(10, 10%);

  section {
    background-color: white;
    border-radius: 2em;
    grid-row: 1 / 2;
    overflow: hidden;
    position: relative;
    z-index: 20;

    div {
      position: absolute;
      inset: 0;
      margin: 0 -50%;
      width: 200%;
      height: 100%;
      box-shadow: inset 0 5em 80px $clr-box-shadow;
      z-index: -10;
    }

    header nav {
      color: white;
      display: flex;
      padding: 1em;

      img {
        width: 1.5em;
        background-color: $clr-accent;
        border-radius: 50%;
        padding: 0.3em;
        margin-left: 1em;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 2vw;
        margin-right: 2vw;
        width: 100%;

        li a {
          padding: 1.5em 1em;
          text-transform: uppercase;
          transition: color 0.3s;

          &:hover {
            color: $clr-accent;
          }
        }
      }
    }

    &:nth-child(1) {
      @include bg-image();
      grid-column: 1 / 4;
      box-shadow: inset -12vw 0 80px $clr-box-shadow-sides;

      ul {
        margin-right: 10vw;
        margin-left: 1vw;
      }
    }
    &:nth-child(2) {
      grid-column: 3 / 6;
    }
    &:nth-child(3) {
      grid-column: 6 / 9;
      @include bg-image();
      background-position: 41% center;
    }
    &:nth-child(4) {
      @include bg-image();
      background-position: 70% center;
      box-shadow: inset 2em 0 80px $clr-box-shadow-sides;
      grid-column: 9 / 11;

      img {
        background-color: black;

        &:nth-of-type(2) {
          background-color: white;
        }
      }

      ul {
        margin-left: 1vw;
      }
    }
  }
}
